flask==3.1.1
requests==2.32.3
APScheduler==3.10.4
pytz==2024.2
SQLAlchemy==2.0.36
python-dotenv==1.0.1
pytest==8.3.4
pytest-cov==6.0.0
playwright==1.49.1
psycopg2-binary==2.9.10
Flask-HTTPAuth==4.8.0
gunicorn==21.2.0
playwright-stealth==1.0.6
python-dateutil==2.9.0
setuptools==75.6.0
pandas==2.2.3
lxml==5.3.0
beautifulsoup4==4.12.3
